.mainbg{

    background-image: url('../../assets/images//cr2.jpg');
    background-size:cover;
   background-position:left;
    background-repeat: no-repeat;



}

.LoginMain{
    background: rgb(38,97,159);
    background: linear-gradient(90deg, rgba(38,97,159,1) 1%, rgba(147,149,228,1) 50%, rgba(0,155,255,1) 100%);
}